.activity{
    /* padding: 24px 32px; */
    background-color: #FBFBFB;
    border-radius: 5px;
    width: 100%;
    height: 320px;
    position: relative;
    grid-column: 1/4;
    grid-row: 1/2;
}
.activity p{
    margin: 0;
    position: absolute;
    top: 24px;
    left: 32px;
}
.custom-tooltip-activity{
    width: 39px;
    height: 63px;
    /* margin: 50px; */
    background-color: #E60000;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
@media only screen and (max-width : 1024px) {
    .activity{
        grid-column: 1/4;
        grid-row: 2;
    }
    } 