.card{
    width: 226px;
    height: 124px;
    background-color: #FBFBFB;
    border-radius: 5px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding-left: 32px;
    
}
.card__logo{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__text{
    display: flex;
flex-direction: column;
row-gap: 2px;
}
.card__text h2{
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}
.card__text p{
    font-size: 14px;
    margin: 0;
}
@media only screen and (max-width : 1024px) {
    .card{
        width: 19%;
        justify-content: space-between;
        padding: 0 15px;
    }
    } 