.sidebar{
    width: 117px;
    min-height: 100vh;
    background-color: #020203;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    position: fixed;

}
.sidebar__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}
.sidebar__list li{
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar__list li img{
    height: 32px;
}
.copyright{
    color: white;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    font-size: 12px;
    position: absolute;
    bottom: 59px;
}