.dashboard{
    padding: 159px 90px 88px 224px;
}
.dashboard__intro{
    color: black;
    
}
.dashboard__intro h1{
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
}
.dashboard__intro p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 41px 0 0 0;
    line-height: 24px;
}
.dashboard__name{
    color: #FF0101;
}
.dashboard__main{
    padding-top: 77px;
    /* display: flex;
    column-gap: 31px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 31px;
    
}
.column__sum{
    display: flex;
    flex-direction: column;
    row-gap: 39px;
    grid-column: 4;
    grid-row: 1/3;
    
}
.loader__container{
    height: 100vh;
}
.column__stats{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.column__stats--size{
    height: 50%;
}
.column__stats--direction{
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-between;
    align-items: flex-end;

}
@media only screen and (max-width : 1024px) {
    .dashboard{
        padding: 16% 2% 2% 16%;
    }
    .dashboard__main{
        grid-template-columns: repeat(3, 1fr);
    }
    .column__sum{
        flex-direction: row;
        column-gap: 25px;
        flex-wrap: wrap; 
        grid-column: 1/4;
        grid-row: 1;
    }
    } 